/*staffmanagement*/

.staff{
  overflow-y: hidden;
  overflow-x: hidden;
  
}
.selectstation {
  border: solid;
/* Reduce the */
  margin-left: 0; /* Attach to the left wall */
  background: #fff;
  display: flex;
  justify-content: space-evenly;
  border-radius: 8px;
  border-color: #B7E2E7;
  opacity: 0.8;
  padding: 1rem; /* Optional: Add some padding for spacing within the element */
}
.select_station{

  margin-left: 140px;
  position: relative;
  left: -306px;
}
.select_station {

  border: solid;

  
  background: #fff;

  align-items: center;
  display: flex;
  justify-content: space-evenly;
  /* margin-top: 120px; */
  border-radius: 12px;
  border-color: #b7e2e7;
  opacity: 0.8;
  margin : 120px 0px 30px  ;

}
.selectoption {

  height: 35px;
  border: solid;
  /* background-color: #fff; */
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}
.form {
  justify-content: space-evenly;
}
.tasks {
  border: solid;

  position: relative;
  background: #fff;
  opacity: 0.8;
  margin :20px 20px  ;
  border-color: #b7e2e7;
  padding-left: 24px;
  border-radius: 10px;
  /* padding : 10px ; */
}
.details {
  display: flex;
  gap: 20px;
  
}
.name{
  margin-top: 10px;
  margin-bottom: 10px;

  gap: 10px ;
}
.detail{
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 10px ;
}
.input_class {
  height: 25px;
  padding : 4px ;
  margin-left: 10px;
}
.buttons {
  display: flex;
  gap: 15px;
  /* margin: 20px; */
}
.buttonADD,.buttonREMOVE {
  background-color: #009adc;

  height: 50px;
  border: none;
  border-radius: 10px;
  text-align: center;
  color: white;
  margin: 20px 10px 20px 10px;
  font-weight: bold;
  background-color: "#009ADC";
  color: "#fff";
  text-align
  : "center";
  margin: "20px";
  width: "150px";
  border: "none";
  font-Weight: "bold";
  width: 200px;
}
@media screen and (max: 500px){
  .select_station {
    height : 90px
       
  }
  .selectoption {
    /*: 100px; */
    height: 35px;
    border: solid;
    /* background-color: #fff; */
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
  }
  
  h3 {
    font-size: small;
  }
  .details {
    display: flex;
    gap: 10px;
    
  } 
  .tasks{
    
    padding : 10px ;
  }
  .input_class{
    height: 20px;
    
  }
}

@media (min: 500px) {
  .select_station{
    margin-left: auto;
    margin-right: auto;
       
  }
  
  h3 {
    font-size: small;
  }
  
  .tasks {
    
  
    
    padding : 10px ;
  }
  .input_class {
   
    height: 20px;
    
  }
}

@media (min: 600px) {
  .select_station {
  
       
  }
  h3 {
    font-size: medium;
  }
   
  .tasks {
    

    
    padding : 10px ;
  }
  .input_class {
  
    height: 20px;
    
  }
}

@media (min: 768px) {
  
  
    
  }


@media (min-width: 992px) {
  .tasks {
    
 
    padding : 10px ;
  }
  .input_class {
 
    height: 25px;
    
  }
}

@media (min: 1190px) {
  
  .input_class {
   
    height: 25px;
    padding : 4px ;
    
  }
  .tasks {
    

    
    padding : 10px ;
  }
}

.staffmember{
  background-color: white;
  height: 220px;
  position: relative;
  opacity: 0.8;

  margin-left: -366px;
  margin-right: -357px;
  border: solid;
  border-radius: 17px;
}
.input {
  width: 400px;
  height: 20px;
  border-color: #b7e2e7;
  border-radius: 9px;
}

.nameinput {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 86%;
  
}

.nameinput form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}