/*staffmanagement*/

.staff{
  overflow-y: hidden;
  overflow-x: hidden;
  
}
.selectstation {
  border: solid;
  width: 60%; /* Reduce the width */
  margin-left: 0; /* Attach to the left wall */
  background: #fff;
  display: flex;
  justify-content: space-evenly;
  border-radius: 8px;
  border-color: #B7E2E7;
  opacity: 0.8;
  padding: 1rem; /* Optional: Add some padding for spacing within the element */
}
.select_station{
  width: 1044px;
  margin-left: 140px;
  position: relative;
  left: -306px;
}
.select_station {

  border: solid;

  
  background: #fff;

  align-items: center;
  display: flex;
  justify-content: space-evenly;
  /* margin-top: 120px; */
  border-radius: 12px;
  border-color: #b7e2e7;
  opacity: 0.8;
  margin : 120px 0px 30px  ;

}
.selectoption {
  width: 10px;
  height: 35px;
  border: solid;
  /* background-color: #fff; */
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}
.form {
  justify-content: space-evenly;
}
.tasks {
  border: solid;
  width: 50%;
  position: relative;
  background: #fff;
  opacity: 0.8;
  margin :20px 20px  ;
  border-color: #b7e2e7;
  padding-left: 24px;
  border-radius: 10px;
  /* padding : 10px ; */
}
.details {
  display: flex;
  gap: 20px;
  
}
.name{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 45% ;
  gap: 10px ;
}
.detail{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50% ;
  gap: 10px ;
}
.input_class {
  width : 70% ;
  height: 25px;
  padding : 4px ;
  margin-left: 10px;
}
.buttons {
  width: 50%;
  display: flex;
  gap: 15px;
  /* margin: 20px; */
}
.button {
  background-color: #009adc;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 10px;
  text-align: center;
  color: white;
  margin: 20px 10px 20px 10px;
  font-weight: bold;
  
}
@media screen and (max-width: 500px){
  .select_station {
    width: 95%;
    height : 90px
       
  }
  .selectoption {
    /* width: 100px; */
    height: 35px;
    border: solid;
    /* background-color: #fff; */
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
  }
  
  h3 {
    font-size: small;
  }
  .details {
    display: flex;
    gap: 10px;
    
  } 
  .tasks {
    
    width: 90%;
    
    padding : 10px ;
  }
  .input_class {
    width : 60% ;
    height: 20px;
    
  }
}

@media (min-width: 500px) {
  .select_station {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
       
  }
  
  h3 {
    font-size: small;
  }
  
  .tasks {
    
    width: 90%;
    
    padding : 10px ;
  }
  .input_class {
    width : 55% ;
    height: 20px;
    
  }
}

@media (min-width: 600px) {
  .select_station {
    width: 95%;
       
  }
  h3 {
    font-size: medium;
  }
   
  .tasks {
    
    width: 95%;
    
    padding : 10px ;
  }
  .input_class {
    width : 62% ;
    height: 20px;
    
  }
}

@media (min-width: 768px) {
  .select_station {
    width: 90%;
       
  }
  .tasks {
    
    width: 90%;
    
    /* padding : 10px ; */
  }
  .input_class {
    width : 62% ;
    height: 20px;
    
  }
}

@media (min-width: 992px) {
  .select_station {
    width: 90%;   
  }
  .tasks {
    
    width: 90%;
    
    padding : 10px ;
  }
  .input_class {
    width : 65% ;
    height: 25px;
    
  }
}

@media (min-width: 1190px) {
  .select_station {
    width: 95%;   
  }
  .input_class {
    width : 65% ;
    height: 25px;
    padding : 4px ;
    
  }
  .tasks {
    
    width: 95%;
    
    padding : 10px ;
  }
}

